#intro{
    background: url("../img/sunrise.png");
    background-repeat: no-repeat;
    background-size: cover;

    .introduction{
        margin: 0 30vw;
        margin-top: 5vh;

        h2{
            font-size: 1.8em;
            margin: 10px 0px;
        }
        h3{
            font-size: 1.2em;
            line-height: 1.3em;
        }
        @include respond-to(mobile){
            margin: 0 20px;
            margin-top: 5vh;
        }
    }

    @include respond-to(mobile){
        background: none;
    }
}