#intro{
    background: url("../img/sunrise.png");
    background-repeat: no-repeat;
    background-size: cover;

    .introduction{
        margin: 5vh 30vw;
        text-align: center;

        img{
            height: 30vh;
            width: 30vh;
            border-radius: 100vw;
        }
        h2{
            font-family: 'Shadows Into Light';
            font-size: 3em;
            margin: 10px 0px;
        }
        h3{
            display: inline-block;
            font-size: 1.2em;
            line-height: 1.3em;
            max-width: 500px;
        }
        @include respond-to(mobile){
            margin: 5vh 20px;
        }
    }

    @include respond-to(mobile){
        background: none;
    }
}