#projects{
	.projects-list {
		margin: 0 5vw;
		margin-top: 2vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.project {
			display: flex;
			flex-direction: row;
			background: rgba(0, 0, 0, 0.1);
			margin: 10px;
			height: 100px;
			min-width: 30vw;

			@include respond-to(mobile){
				min-width: 0;
			}

			img {
				min-height: 100px;
				min-width: 100px;
				max-height: 100%;
				max-width: inherit;
			}

			.info {
				margin: 5px 1vw;
				padding: 0 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				text-align: left;
				font-weight: 300;

				*{
					margin: 2px 0;
				}
				h4{
					font-size: 1.5em;
				}
				p{
					font-size: 1.2em;
					word-wrap: break-word;
				}
				.buttons{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-between;
					font-size: 1em;

					a {
						margin: 0;
					}
				}

				@include respond-to(mobile){
					display: none;
				}
			}
		}
	}
}
