.DOCTYPE(html)
.html
    .head
        .meta(charset="utf-8")
        title="Andrew Wang"

        //- CSS
        link(rel="stylesheet" type="text/css" href="fonts/stylesheet.css")
        link(rel="stylesheet" type="text/css" href="css/font-awesome.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")

        //- JS
        script(src="js/jquery.js")
        script(src="js/ScrollTrigger.min.js")
        script(src="js/animations.js")
    
    .body
        //- span.fa.fa-circle-o-notch.fa-spin.fa-3x.fa-fw
        .header
            span Andrew Wang
            .pages
                span education
                span projects
                span music
                span design

        .view#homepage
            .container
                .content
                    h1 Andrew Wang
                    .social-icons
                        span.fa.fa-facebook
                        span.fa.fa-twitter
                        span.fa.fa-linkedin
            .arrow-down
                span.fa.fa-angle-double-down

        .view#education
            .container
                .content
                    h1 education
                    .education-boxes
                        .school.invisible(data-scroll)
                            h3 school
                        .work
                            h3 work
                        .awards
                            h3 awards
                        .other
                            h3 other


        .view#projects
            .container
                .content
                    h1 projects
                    .social-icons
                        span.fa.fa-github
        .view#music
            .container
                .content
                    h1 music
                    .social-icons
                        span.fa.fa-soundcloud
                        span.fa.fa-bandcamp

        .view#design
            .container
                .content
                    h1 design
                    .social-icons

        .footer
            span