DOCTYPE(html)
html
    head
        .meta(charset="utf-8")
        title="Andrew Wang"

        //- CSS
        link(rel="stylesheet" type="text/css" href="fonts/stylesheet.css")
        link(rel="stylesheet" type="text/css" href="css/font-awesome.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")

        //- JS
        script(src="js/jquery.js")
        script(src="js/ScrollTrigger.min.js")
        script(src="js/animations.js")
        script(src="js/scripts.js")
    
    body
        //- span.fa.fa-circle-o-notch.fa-spin.fa-3x.fa-fw
        .header
            span Andrew Wang
            .pages
                span.education education
                span.projects projects
                span.music music
                span.design design

        .view#homepage
            .container
                .content
                    h1 Andrew Wang
                    .social-icons
                        a(href="https://www.facebook.com/andrewxiaoyu")
                            span.fa.fa-facebook
                        a(href="mailto:andrewxiaoyu0@gmail.com")
                            span.fa.fa-envelope
                        a(href="https://www.linkedin.com/in/andrewxwang/")
                            span.fa.fa-linkedin
            .arrow-down
                span.fa.fa-angle-double-down

        .view#education
            .container
                .content
                    h1 education
                    .education-boxes
                        .edu.schools
                            h3 school
                            .stats
                                p GPA: 4.42
                                p ACT: 35/36
                                p High School
                            .school
                                h4 Thomas Jefferson High School for Science and Technology
                                h5.year Class of 2018
                                .classes
                                    p Artificial Intelligence
                        .edu.work
                            h3 work
                            .job
                                h4 Valador Inc. - Developer
                                h5.year August 2016
                                .jobc
                                    p php
                        .edu.contests
                            h3 contests
                            .stats
                                p 5 Hackathons
                                p 1 Science
                            .contest
                                h4 HackTJ 2017 MLH Grand Prize
                                h4 Siemens 2016 Semifinals
                                h4 Make School's Student App
                                h4 USA Computing Olympiad (Silver)
                        .edu.other
                            h3 other
                            .otherlist
                                h4 HackTJ Organizer

        .view#projects
            .container
                .content
                    h1 projects
                    .social-icons
                        a(href="https://github.com/w4v3s")
                            span.projects.fa.fa-github
                    .projects-list
                        .project
                            img(src="img/projects/dawn.png")
                            .info
                                h4 Dawn
                                p Researcher's Search Engine
                                .buttons
                                    a(href="https://soundcloud.com/allden")
                                        span.projects.fa.fa-external-link
                                    a(href="https://soundcloud.com/allden")
                                        span.projects.fa.fa-code
                                    a(href="https://soundcloud.com/allden")
                                        span.projects.fa.fa-code-fork

        .view#music
            .container
                .content
                    h1 music
                    .social-icons
                        a(href="https://soundcloud.com/allden")
                            span.music.fa.fa-soundcloud
                        a(href="https://allden.bandcamp.com/")
                            span.music.fa.fa-bandcamp
                        a(href="https://open.spotify.com/artist/4drtOysPuPNEdiC0PNM6eo")
                            span.music.fa.fa-spotify
                    .allden-tracks
                        .track
                            img(src="img/music/zephyr.png")
                            .info
                                h4 Zephyr
                                p "Just to reach our home... Find our home"
                                .buttons
                                    audio(src='song/zephyr.mp3')
                                    span(onclick="playMusic(this)").music.fa.fa-play
                                    span.music-bar
                        .track
                            img(src="img/music/paris.png")
                            .info
                                h4 Paris
                                p "Paris remix of chainsmokers"
                                .buttons
                                    audio(src='song/paris.mp3')
                                    span(onclick="playMusic(this)").music.fa.fa-play
                                    span.music-bar

        .view#design
            .container
                .content
                    h1 design
                    .designs
                        .des
                            img(src="img/design/augment.png")
                            .info
                                h4 Augment
                                p Potential Startup
                        .des
                            img(src="img/design/augment.png")
                            .info
                                h4 Augment
                                p Potential Startup

        .footer
            span